/* css for the feature page */
._main{
    display: flex;
    flex-direction: column;
    margin: 1em 0em 0em;
    padding: 0;
    width: 100%;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
}

._main .be2_sec1{
    display: flex;
    width: 99%;
    height: 15em;
    background: url('Image/banner1.jpeg') no-repeat no-repeat center/cover;
    align-items: center;
}

._main .be2_sec1 .banner_title{
    font-size: 2.5em;
    font-weight: 600;
    color: #ffffff;
    margin: 0em 3em;
}

._main .feature_sec{
    padding: 2em 0em;
}

.feature_sec .featureCont{
    display: flex;
    flex-wrap: wrap;
    width: 90%;
    margin: 0em auto;
    align-items: center;
    justify-content: space-evenly;
}

.feature_sec .featureCont .feature_item{
    display: flex;
    flex-direction: column;
    position: relative;
    width: 25em;
    text-align: center;
    align-items: center;
    justify-content: space-evenly;
    height: 20em;
    padding: 3em;
    border-top: 8px solid #ee7415;
    margin: 1em 0em;
    box-shadow: 0em 0.4em 1em rgba(35, 31, 32, 0.05);
    transition: all 0.3s ease-in-out;
}

.feature_sec .featureCont .feature_item:hover{
    transform: scale(1,1) translate(0%, -3%);
}

.feature_sec .featureCont .feature_item .item_inner{
    display: flex;
    flex-direction: column;
    margin: 0;
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: center;
}

.feature_item .item_inner .title1{
    display: flex;
    flex-direction: column;
    font-size: 1.2em;
    font-weight: 600;
    margin: 0.2em 0em;
    align-items: center;
    justify-content: space-between;
    text-align: center;
    color: #000;
}

.title1 .decor_span{
    display: block;
    background-color: #ee7415;
    margin-top: 0.5em;
    width: 3.5em;
    height: 0.2em;
}

.title1 .decor_span::after{
    content: '';
    background-color: #ffffff;
    position: absolute;
    width: 0.5em;
    height: 0.2em;
    left: 9em;
    
}

.feature_item .item_inner .fitem_text{
    font-size: 0.9em;
    color: #575757;
}

/* css for the pricing page */

._main .container_price{
    display: flex;
    flex-direction: column;
    width: 99%;
    align-items: center;
    justify-content: center;
    margin-bottom: 5em;
}

.priceCont{
    width: 90%;
    padding: 0em;
    margin: 2em 0em;
}

._main .pricetable table{
    width: 100%;
    border-collapse: collapse;
    overflow-x: auto;
}

tr{
    height: 5em;
}

tr:nth-child(1){
    color: #ffffff;
    background-color: #096fdb;
    font-size: 1.5em;
}

tr:nth-child(even){
    background-color: #f1f1f1;
}

th, td{
    text-align: center;
    width: 10em;
    padding: 1em;
    /* border-left: 1px solid #dba009; */
    /* border-right: 1px solid #dba009; */
    box-shadow: 0.1em 0.1em 0em rgba(35, 31, 32, 0.05);
}

td{
    font-size: 1.2em;
}

td button{
    background-color: #096fdb;
    border: none;
    width: 7em;
    height: 2em;
    border-radius: 0.5em;
    color: #ffffff;
    font-size: 0.9em;
    transition: 0.3s;
}

td button:hover{
    background-color: #ffffff;
    color: #096fdb;
    border: 1px solid #096fdb;
    cursor: pointer;
}

._main .price_head{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 99%;
    text-align: center;
    font-size: 1.5em;
    font-weight: 600;
    color: #ffffff;
    background-color: #096fdb;
    height: 4em;
}

/* css for the solution pages */

.container_sol{
    display: flex;
    flex-direction: column;
    width: 99%;
    align-items: center;
    justify-content: center;
}

.container_sol .sol_sec{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 90%;
    margin: 5em auto;
}

.container_sol .bannerCont{
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
    background: url('Image/banner1.jpeg') no-repeat no-repeat center/cover;
    height: 20em;
}

.container_sol .bannerCont .banner_title{
    font-size: 3em;
    font-weight: 600;
    color: #ffffff;
}

.container_sol .sol_cot{
    display: flex;
    flex-direction: column;
    width: 90%;
    align-items: center;
    justify-content: center;
}

.container_sol .sol_cot .inner_cot{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding: 2em 0em;
}

.sol_cot .inner_cot .sol_head{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.inner_cot .sol_head .titleSol{
    font-size: 3em;
}

.inner_cot .sol_head p{
    font-size: 1.5em;
    text-align: center;
    margin: 1em 0em;
    color: #494949;
}

.inner_cot .titleDes p{
    font-size: 2em;
    color: #172541;
}

.inner_cot .sol_item{
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-evenly;
    padding: 2em 0em;
    height: 35em;
}

.inner_cot .sol_item .item_infoBox{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 30%;
    height: 30em;
}

.item_infoBox figure{
    display: inline-flex;
    width: 100%;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

.item_infoBox figure img{
    width: 100%;
    transition: 0.4s ease;
    transform-origin: 50% 50%;
}

.item_infoBox figure img:hover{
    transform: scale(1.2);
    width: 100%;
}